:root {
    --gridSize: 16;
    --r: 0;
    --g: 0;
    --b: 0;
    --alpha: 0;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    width: 640px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

#resize-grid-btn {
    margin-bottom: 15px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fcf6f6;
    border: 1px solid #d4d4d4;
}

.square {
    background-color: rgba(var(--r, 0), var(--g, 0), var(--b, 0), var(--alpha, 0));
    min-width: calc(100% / var(--gridSize));
    aspect-ratio: 1 / 1;
    flex: 1;
    outline: 1px solid #d4d4d4;
}