:root {
    --size: 16;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    width: 640px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

#resize-grid-btn {
    margin-bottom: 15px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fcf6f6;
    border: 1px solid #d4d4d4;
}

.square {
    min-width: calc(100% / var(--size));
    aspect-ratio: 1 / 1;
    flex: 1;
    outline: 1px solid #d4d4d4;
    transition: all 0.3s ease-in-out;
}