:root {
    --size: 16;
}

#container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fcf6f6;
    border: 1px solid #d4d4d4;
}

.square {
    min-width: calc(100% / var(--size));
    aspect-ratio: 1 / 1;
    flex: 1;
    outline: 1px solid #d4d4d4;
    transition: all 0.3s ease-in-out;
}